li.matrix {
    list-style: none;
}
li.matrix:before {
    content: "✓ ";
}

input.matrix {
    border: none;
    width: 32px;
    font-size: 14px;
    padding: 2px;
}

input.matrix:hover {
    background-color: #eee;
}

input.matrix:focus {
    background-color: #ccf;
}

input.matrix:not(:focus) {
    text-align: right;
}

table.matrix {
    border-collapse: collapse;  
}

td.matrix {
    border: 1px solid #999;
    padding: 0;
}

tr.matrix:first-child td.matrix, td.matrix:first-child {
    background-color: #ccc;
    color: #666699;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #ffcc66 !important;
}

.highlight-dptask:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: #ff9966 !important;
}