<div class="container" ng-controller="MenuController as c">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pleak</a>
        <p class="navbar-text">Privacy Leakage Analysis Tools</p>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="c.isAuthenticated()">
            <p class="navbar-text">Signed in as {{c.getUserEmail()}}</p>
          </li>
          <li class="{{c.getClass('splash')}}">
            <a href="#">Home</a>
          </li>
          <li ng-if="c.isAuthenticated()" class="{{c.getClass('files')}}">
            <a href="#/files">Files</a>
          </li>
          <li ng-if="c.isAuthenticated()">
            <a data-toggle="modal" data-target="#logoutModal">Log out</a>
          </li>
          <li ng-if="!c.isAuthenticated()">
            <a data-toggle="modal" data-target="#loginModal">Log in</a>
          </li>
          <!-- Maybe useful in the future
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/files">bpmn models</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Login
        </div>
        <div class="modal-body">
          <form id="loginForm">
            <div class="form-group">
              <label for="userEmail">Email address</label>
              <input type="email" class="form-control" id="userEmail" placeholder="Email" ng-model="user.email" autofocus>
            </div>
            <div class="form-group">
              <label for="userPassword">Password</label>
              <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="user.password">
              <button type="submit" ng-click="c.login()" class="btn btn-success" style="display:none;">Login</button>
              <span id="loginHelpCredentials" class="help-block">Incorrect credentials. Please try again.</span>
              <span id="loginHelpServer" class="help-block">Could not reach the server. Please try again <b>later</b>.</span>
            </div>
          </form>
          <div class="spinner" id="loginLoading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" ng-click="c.login()" class="btn btn-success">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Logout -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Log out
        </div>
        <div class="modal-body">
          <p id="logoutText">Are you sure you want to log out?</p>
          <div class="spinner" id="logoutLoading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="c.logout()" data-dismiss="modal" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>