<div class="container" *ngIf="isAuthenticated()">
  <ul class="nav nav-tabs">
    <li role="presentation" class="{{tab === 'own' ? 'active' : ''}}" (click)="checkIfOwnFilesLoaded()">
      <a class="clickable">My models</a>
    </li>
    <li role="presentation" class="{{tab === 'shared' ? 'active' : ''}}" (click)="checkIfSharedFilesLoaded()">
      <a class="clickable">Shared models</a>
    </li>
  </ul>
  <div class="row topMargin" *ngIf="tab === 'own'">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-xs-4">
              <input type="search" class="form-control pull-right" placeholder="Search files" value="{{search}}" #searchBox (keyup)="setSearchInput(searchBox.value)">
            </div>
            <div class="col-xs-8 text-right ">
              <button type="button" class="btn btn-success" (click)="initCreateNewFileModal(getRoot().id)">
                <span class="glyphicon glyphicon-file"></span> New model
              </button>
              <button type="button" class="btn btn-success" (click)="initCreateNewDirectoryModal(getRoot().id)">
                <span class="glyphicon glyphicon-folder-close"></span> New directory
              </button>
            </div>
          </div>
          <!-- Table -->
          <div class="files-list">
            <ul class="pobject-list">
              <li class="fhead">
                <div class="row">
                  <div class="col-xs-6 col-md-5 col-lg-6">
                    <b (mouseenter)="showTitle = true" (mouseleave)="showTitle = false">File Name
                      <span (click)="sortPobjectsByTitleDesc()"
                            ng-show="sort !== 2"
                            class="glyphicon glyphicon-chevron-up clickable {{sort > 0 && sort < 3 || showTitle ? '' : 'invisible'}}"></span>
                      <span (click)="sortPobjectsByTitleAsc()"
                            ng-show="sort === 2"
                            class="glyphicon glyphicon-chevron-down clickable"></span>
                    </b>
                  </div>
                  <div class="col-xs-6 col-md-7 col-lg-6">
                    <div class="row">
                      <div class="col-md-6 text-center hidden-xs hidden-sm">
                        <b (mouseenter)="showLastModified = true" (mouseleave)="showLastModified = false">Last Modified
                          <span (click)="sortPobjectsByLastModifiedDesc()"
                                ng-show="sort !== 4"
                                class="glyphicon glyphicon-chevron-up clickable {{sort > 2 || showLastModified ? '' : 'invisible'}}"></span>
                          <span (click)="sortPobjectsByLastModifiedAsc()"
                                ng-show="sort === 4"
                                class="glyphicon glyphicon-chevron-down clickable"></span>
                        </b>
                      </div>
                      <div class="col-md-3 text-center">
                        <b>Status</b>
                      </div>
                      <div class="col-md-3 ">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="empty-list" *ngIf="getRoot()?.pobjects?.length === 0">
                <div class="row">
                  <div class="col-xs-12">No available files...</div>
                </div>
              </li>
              <li class="loading-container" *ngIf="ownFilesLoading">
                <div class="spinner" id="ownFilesLoader">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </li>
              <li class="ng-fade pobject" *ngFor="let pobject of getRoot().pobjects">
                <own-files [pobject]="pobject" [parent]="this" [depth]="0"></own-files>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row topMargin" *ngIf="tab === 'shared'">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-xs-4">
              <input type="search" class="form-control pull-right" placeholder="Search files" value="{{search}}" #searchBox (keyup)="setSearchInput(searchBox.value)">
            </div>
          </div>
          <div class="shared-files-list">
            <ul class="pobject-list">
              <li class="fhead">
                <div class="row">
                  <div class="col-xs-6 col-md-5 col-lg-6">
                    <b>File Name</b>
                  </div>
                  <div class="col-xs-6 col-md-7 col-lg-6">
                    <div class="row">
                      <div class="col-md-5 hidden-xs hidden-sm">
                        <b>Owner</b>
                      </div>
                      <div class="col-md-3 text-center hidden-xs hidden-sm">
                        <b>Last Modified</b>
                      </div>
                      <div class="col-md-2 text-center">
                        <b>Status</b>
                      </div>
                      <div class="col-md-2">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="empty-list" *ngIf="getShared()?.pobjects?.length === 0">
                <div class="row">
                  <div class="col-xs-12">No available files...</div>
                </div>
              </li>
              <li class="loading-container" *ngIf="sharedFilesLoading">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </li>
              <li class="ng-fade pobject" *ngFor="let pobject of getShared().pobjects">
                <shared-files [pobject]="pobject" [parent]="this" [depth]="0"></shared-files>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- New file modal -->
  <div class="modal fade" id="newFileModal"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            New model
          </div>
          <div class="modal-body">
            <input type="hidden" class="newFileParentId" #newFileParentId value="" hidden>
            <div class="form-group input-group file-name-input">
              <input type="text" class="form-control newPobjectFileTitle" #newPobjectFileTitle (keyup)="setNewPobjectTitle(newPobjectFileTitle.value)"/>
              <div class="input-group-addon">.bpmn</div>
            </div>
            <span class="error-block file-name-error">Incorrect model name.</span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="createFile(newFileParentId.value)">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- New directory modal -->
  <div class="modal fade" id="newDirectoryModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            New directory
          </div>
          <div class="modal-body">
            <input type="hidden" class="newDirectoryParentId" #newDirectoryParentId value="" hidden>
            <div class="form-group directory-name-input">
              <input type="text" class="form-control newPobjectDirectoryTitle" #newPobjectDirectoryTitle (keyup)="setNewPobjectTitle(newPobjectDirectoryTitle.value)"/>
              <span class="error-block directory-name-error">Incorrect directory name.</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="createDirectory(newDirectoryParentId.value)">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Rename file modal -->
  <div class="modal fade" id="renameFileModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            Rename file
          </div>
          <div class="modal-body">
            <input type="hidden" class="renameFileParentId" #renameFileParentId value="" hidden>
            <div class="form-group input-group file-name-input">
              <input type="text" class="form-control newFileTitle" #newFileTitle value=""/>
              <div class="input-group-addon">.bpmn</div>
            </div>
            <span class="error-block file-name-error">Incorrect file name.</span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="renameFile(renameFileParentId.value, newFileTitle.value)">Rename</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Rename directory modal -->
  <div class="modal fade" id="renameDirectoryModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            Rename directory
          </div>
          <div class="modal-body">
            <input type="hidden" class="renameDirectoryParentId" #renameDirectoryParentId value="" hidden>
            <div class="form-group directory-name-input">
              <input type="text" class="form-control newDirectoryTitle" #newDirectoryTitle value=""/>
              <span class="error-block directory-name-error">Incorrect directory name.</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="renameDirectory(renameDirectoryParentId.value, newDirectoryTitle.value)">Rename</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Delete file modal -->
  <div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Delete file
        </div>
        <div class="modal-body">
          <input type="hidden" class="deleteFileParentId" #deleteFileParentId value="" hidden>
          Are you sure you want to delete this file: <strong><span class="deleteFileTitle"></span></strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="deleteFile(deleteFileParentId.value)" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete directory modal -->
  <div class="modal fade" id="deleteDirectoryModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Delete directory
        </div>
        <div class="modal-body">
          <input type="hidden" class="deleteDirectoryParentId" #deleteDirectoryParentId value="" hidden>
          <p>Are you sure you want to delete this directory and all it's contents?</p>
          <strong><span class="deleteDirectoryTitle"></span></strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="deleteDirectory(deleteDirectoryParentId.value)" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Remove shared file modal -->
  <div class="modal fade" id="removeSharedFileModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Remove shared file
        </div>
        <div class="modal-body">
          <input type="hidden" class="removeSharingPobjectParentId" #removeSharingPobjectParentId value="" hidden>
          Are you sure you want to remove this shared file: <strong><span class="removeSharingPobjectTitle"></span></strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="removeOwnShare(removeSharingPobjectParentId.value)" data-dismiss="modal" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-publish-folder-form #publishFolderForm></app-publish-folder-form>
  <app-share-item-form #shareItemForm ></app-share-item-form>
  <app-move-item-form #moveItemForm [filesComponent]="this"></app-move-item-form>
</div>


