<div class="container">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>
      PLEAK (Privacy LEAKage) is a next-generation analysis tool for the privacy audit of an existing systems and the
      design of new privacy-aware systems. PLEAK lets you model your business process using the Business Process Model
      Notation (<a href="//www.bpmn.org/" target="_blank">BPMN</a>) and add various details to specify the system. For
      example it is possible to add information about privacy-enhancing technologies or specify the data processing
      using SQL or our pseudocode. PLEAK can then analyze the data flows based cryptographic privacy, data dependency
      and differential privacy to help you study the privacy properties of your system.
    </p>
    <p>
      PLEAK is under development by <a href="https://www.cyber.ee/" target="_blank">Cybernetica AS</a> and the
      <a href="https://www.cs.ut.ee/" target="_blank">University of Tartu</a> under the DARPA <a
        href="https://www.darpa.mil/program/brandeis" target="_blank">Brandeis</a> privacy technology development
      program and
      DARPA <a href="https://www.darpa.mil/program/secure-handhelds-on-assured-resilient-networks-at-the-tactical-edge"
        target="_blank">SHARE</a> program.
      Access to PLEAK is currently limited, please write to <a href="mailto:pleak@cyber.ee">pleak@cyber.ee</a> if you
      are interested in an account. For more
      information about PLEAK see our wiki <a href="https://pleak.io/wiki/">wiki</a> or contact <a
        href="mailto:pleak@cyber.ee">pleak@cyber.ee</a>. Pleak is
      open source, find us on
      Github as <a href="https://github.com/pleak-tools" target="_blank">Pleak-tools</a>.
    </p>

    <p class="logos">
      <img src="assets/img/cyber.svg" width="300" class="img-responsive inline-b">
      <img src="assets/img/ut.png" width="300" class="img-responsive inline-b">
    </p>

    <hr>

    <div *ngIf="!(authService.authStatus | async)" id="guestJumbotron" class="ng-fade">
      <button class="btn btn-lg btn-primary" (click)="authService.initLoginModal()">Login »</button>
    </div>

    <div *ngIf="authService.authStatus | async" id="userJumbotron" class="ng-fade">
      <p>You can view, edit and create new files here</p>
      <p>
        <a class="btn btn-lg btn-primary" routerLink="/files">Files »</a>
      </p>
    </div>
  </div>
</div>