body {
  padding-top: 25px;
}

#filesTable {
  margin-bottom: 0px;
}

.logos {
  text-align: center;
}
.logos img {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
}
.logos img:first-of-type {
  margin-right: 20px;
  margin-bottom: 0;
}