<div *ngIf="parent.isPobjectDirectory(dest) && parent.canMove(pobject, dest)" class="clickable">
  <div (click)="parent.selected = dest" class="move-element {{dest === parent.selected ? 'active' : ''}}">
    <span class="element-title">
      <span class="glyphicon glyphicon-folder-open"></span>
      <span>{{dest.title}}</span>
    </span>
  </div>
</div>
<ul>
  <li class="subgroup"><move-pobjects *ngFor="let dest of dest.pobjects" [dest]="dest" [pobject]="pobject" [parent]="parent"></move-pobjects></li>
</ul>