<div class="row {{parent.isPobjectDirectory(pobject) ? ' group' : ''}}{{parent.isPobjectHighlighted(pobject) ? ' highlight' : ''}}" *ngIf="parent.isMatchingSearch(pobject)">
  <div class="col-xs-6 col-md-5 col-lg-6 text-column" (click)="pobject.open = !pobject.open">
    <span *ngIf="parent.isPobjectDirectory(pobject)" class="title">
      <span class="glyphicon " [ngClass]="pobject.open ? 'glyphicon-folder-open' : 'glyphicon-folder-close'"></span> {{pobject.title}}
      <span *ngIf="pobject.open && pobject.pobjects.length === 0">(empty)</span>
    </span>
    <span *ngIf="parent.isPobjectFile(pobject)" class="title">
      <span class="glyphicon glyphicon-file"></span> <a class="clickable" (click)="parent.openFile(pobject)" title="{{pobject.title}}">{{pobject.title}}</a>
    </span>
  </div>
  <div class="col-xs-6 col-md-7 col-lg-6">
    <div class="row">
      <div class="col-md-6 text-center hidden-xs hidden-sm" (click)="pobject.open = !pobject.open">
        &nbsp;
        <span class="" *ngIf="parent.isPobjectFile(pobject)"
              data-toggle="tooltip"
              data-placement="top"
              data-html="true"
              data-container="body"
              title="{{parent.formatDate(pobject.lastModified)}}<br> by: {{pobject.modifiedBy.email}}"
        >
            {{lastModified | async }}
        </span>
      </div>
      <div class="col-md-3 text-center" (click)="pobject.open = !pobject.open">
        &nbsp;
        <span *ngIf="parent.isShared(pobject)" class="glyphicon glyphicon-user"></span>
        <span *ngIf="pobject.published" class="glyphicon glyphicon-globe"></span>
      </div>
      <div class="col-md-3 text-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li *ngIf="parent.canEditFileInRoot(pobject)">
              <a (click)="parent.openFile(pobject)">Edit</a>
            </li>
            <li *ngIf="parent.canViewFile(pobject)">
              <a (click)="parent.openFile(pobject)">View</a>
            </li>
            <li *ngIf="parent.canCreateFile(pobject)">
              <a (click)="parent.initCreateNewFileModal(pobject.id)">New model</a>
            </li>
            <li *ngIf="parent.canCreateDirectory(pobject)">
              <a (click)="parent.initCreateNewDirectoryModal(pobject.id)">New directory</a>
            </li>
            <li *ngIf="parent.canRenameFileInRoot(pobject)">
              <a (click)="parent.initRenameFileModal(pobject.id)">Rename</a>
            </li>
            <li *ngIf="parent.canRenameDirectory(pobject)">
              <a (click)="parent.initRenameDirectoryModal(pobject.id)">Rename</a>
            </li>
            <li *ngIf="parent.isPobjectFile(pobject)">
              <a (click)="parent.copyFile(pobject)">Copy</a>
            </li>
            <li *ngIf="parent.canExport(pobject)">
              <a (click)="parent.exportFile(pobject)" id="export-{{pobject.id}}">Export</a>
            </li>
            <li *ngIf="parent.canMoveFileInRoot(pobject)">
              <a (click)="parent.initMoveModal(pobject.id)">Move</a>
            </li>
            <li *ngIf="parent.canDeleteFile(pobject)">
              <a (click)="parent.initDeleteFileModal(pobject.id)">Delete</a>
            </li>
            <li *ngIf="parent.canDeleteDirectory(pobject)">
              <a (click)="parent.initDeleteDirectoryModal(pobject.id)">Delete</a>
            </li>
            <li *ngIf="parent.canShare(pobject)" role="separator" class="divider"></li>
            <li *ngIf="parent.canShare(pobject)">
              <a (click)="parent.openShareItemModal(pobject)">Share</a>
            </li>
            <li *ngIf="parent.isPobjectDirectory(pobject)">
              <a (click)="parent.openPublishFolderModal(pobject)">Publish files</a>
            </li>
            <li *ngIf="parent.canPublish(pobject)">
              <a (click)="parent.initPublishFileModal(pobject.id)">Publish</a>
            </li>
            <li *ngIf="parent.canEditFileInRoot(pobject)" role="separator" class="divider"></li>
            <li *ngIf="parent.canEditFileInRoot(pobject)">
              <a (click)="parent.openFileSQLEditor(pobject)">Open in SQL-editor</a>
            </li>
            <li *ngIf="parent.canEditFileInRoot(pobject)">
              <a (click)="parent.openFileSQLDerivativeSensitivityEditor(pobject)">Open in SQL DS editor</a>
            </li>
            <li *ngIf="parent.canEditFileInRoot(pobject)">
              <a (click)="parent.openFilePEBPMNEditor(pobject)">Open in PE-BPMN editor</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Move modal -->
<div class="modal fade move" id="moveModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        Move <b>{{pobject.title}}</b> to <b>{{parent.selected === null ? '(select a directory)' : parent.selected.title}}</b>
      </div>
      <div class="modal-body">
        <ul class="move-container">
            <ng-container *ngIf="parent.moveObjectId == pobject.id">
              <li><move-pobjects [pobject]="pobject" [dest]="parent.getRoot()" [parent]="parent"></move-pobjects></li>
            </ng-container>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="parent.movePobject(pobject)">Move</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Publish (public link) modal -->
<div class="modal fade" id="publishFileModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        Publish file by creating a public link
      </div>
      <div class="modal-body">
        <div class="form-group input-group">
            <span class="input-group-addon">
              <span class=" glyphicon glyphicon-link"></span>
            </span>
          <input type="text" class="form-control publicLink" placeholder="No public link (yet)" value="{{pobject.publicUrl}}" readonly/>
          <div class="input-group-btn">
            <button (click)="parent.publishFile(pobject)" class="btn btn-success" *ngIf="!pobject.published">
              Create public link
            </button>
            <button (click)="parent.unpublishFile(pobject)" class="btn btn-default" type="submit" *ngIf="pobject.published">
              Remove public link
            </button>
          </div>
        </div>
        <span id="server-error" class="error-block">Server error, please try again later!</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="parent.isPobjectDirectory(pobject)">
  <ul class="pobject-list subgroup" [hidden]="!pobject.open">
    <li class="pobject" *ngFor="let pobject of pobject.pobjects"><own-files [pobject]="pobject" [parent]="parent"></own-files></li>
  </ul>
</ng-container>
