<div class="container" ng-controller="SplashController as c">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>
      PLEAK (Privacy LEAKage) is a next-generation analysis tool for the privacy audit of an existing system and the design of new privacy-aware systems. PLEAK lets you model your business process using the Business Process Model Notation (<a href="//en.wikipedia.org/wiki/Business_Process_Model_and_Notation" target="_blank">BPMN</a>) and privacy-preserving algorithms using the <a href="//sharemind-sdk.github.io/" target="_blank">SecreC</a> privacy-preserving programming language. PLEAK can then analyze the data flows using cryptographic privacy and differential privacy. PLEAK also supports the inclusion of Privacy Enhancing Technologies (PETs) in the business process models to reduce the leakage of private information.
    </p>
    <p>
      PLEAK is currently under development by <a href="//www.cyber.ee/" target="_blank">Cybernetica AS</a> and <a href="//www.cs.ut.ee/" target="_blank">the University of Tartu</a> under the <a href="//www.darpa.mil/" target="_blank">DARPA</a> <a href="//www.darpa.mil/program/brandeis" target="_blank">Brandeis</a> privacy technology development program. Access to PLEAK is currently limited to collaborating privacy researchers. For information about PLEAK, contact <a href="mailto:pleak@cyber.ee">pleak@cyber.ee</a>.
    </p>

    <p class="logos">
      <img src="./inc/img/cyber.png" width="300" class="img-responsive inline-b">
      <img src="./inc/img/ut.png" width="300" class="img-responsive inline-b">
    </p>

    <hr>

    <div ng-if="!c.isAuthenticated()" id="guestJumbotron" class="ng-fade">
      <!-- These modals can be found in menu.html -->
      <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#loginModal">Login »</button>
      <!--<button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#registerModal">Register »</button>-->
    </div>

    <div ng-if="c.isAuthenticated()" id="userJumbotron" class="ng-fade">
      <p>You can view, edit and create new files here</p>
      <p>
        <!-- These modals can be found in menu.html -->
        <a class="btn btn-lg btn-primary" href="#/files">Files »</a>
      </p>
    </div>
  </div>
</div>
