<div class="fluid{{c.isPobjectDirectory(pobject) ? ' group' : ''}}{{c.isPobjectHighlighted(pobject) ? ' highlight' : ''}}"
     ng-show="c.isMatchingSearch(pobject)">
  <div class="col" ng-click="pobject.open = pobject.open ? false : true">
    <span ng-if="c.isPobjectDirectory(pobject)" class="title">
      <span ng-if="!pobject.open" class="glyphicon glyphicon-folder-close"></span>
      <span ng-if="pobject.open" class="glyphicon glyphicon-folder-open"></span>
      <span class="clickable">{{pobject.title}}</span>
      <span ng-if="pobject.open && pobject.pobjects.length === 0">(empty)</span>
    </span>
    <span ng-if="c.isPobjectFile(pobject)" class="title">
      <a class="clickable" ng-click="c.openFile(pobject)">{{pobject.title}}</a>
    </span>
  </div>
  <div class="col hidden-xs hidden-sm" ng-click="pobject.open = pobject.open ? false : true">
    <span ng-if="c.isPobjectFile(pobject)">{{c.formatDate(pobject.lastModified)}}</span>
    <span ng-if="c.isPobjectFile(pobject)">{{pobject.modifiedBy.email}}</span>
  </div>
  <div class="col" ng-click="pobject.open = pobject.open ? false : true">
    <span ng-if="pobject.permissions.length > 0" class="glyphicon glyphicon-user"></span>
    <span ng-if="pobject.published" class="glyphicon glyphicon-globe"></span>
  </div>
  <div class="col text-right">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-if="c.canEdit(pobject) && c.isPobjectFile(pobject)">
          <a ng-click="c.openFile(pobject)">Edit</a>
        </li>
        <li ng-if="!c.canEdit(pobject) && c.canView(pobject) && c.isPobjectFile(pobject)">
          <a ng-click="c.openFile(pobject)">View</a>
        </li>
        <li ng-if="c.canEdit(pobject) && c.isPobjectDirectory(pobject)">
          <a data-toggle="modal" data-target="#newFileModal{{pobject.id}}"
             ng-click="c.focusInput('#newFileModal' + pobject.id)">
            New model
          </a>
        </li>
        <li ng-if="c.canEdit(pobject) && c.isPobjectDirectory(pobject) &&
                   c.getInversePobjectDepth(pobject) < 4">
          <a data-toggle="modal" data-target="#newDirectoryModal{{pobject.id}}"
             ng-click="c.focusInput('#newDirectoryModal' + pobject.id)">
            New directory
          </a>
        </li>
        <li ng-if="c.canEdit(pobject) && c.isPobjectFile(pobject)">
          <a data-toggle="modal" data-target="#renameFileModal{{pobject.id}}"
             ng-click="c.focusInput('#renameFileModal' + pobject.id)">
            Rename
          </a>
        </li>
        <li ng-if="c.canEdit(pobject) && c.isPobjectDirectory(pobject)">
          <a data-toggle="modal" data-target="#renameDirectoryModal{{pobject.id}}"
             ng-click="c.focusInput('#renameDirectoryModal' + pobject.id)">
            Rename
          </a>
        </li>
        <li ng-if="c.isPobjectFile(pobject)">
          <a ng-click="c.copyFile(pobject)">Copy</a>
        </li>
        <li ng-if="c.canEdit(pobject)">
          <a data-toggle="modal" data-target="#moveModal{{pobject.id}}">Move</a>
        </li>
        <li ng-if="c.canDelete(pobject) && c.isPobjectFile(pobject)">
          <a data-toggle="modal" data-target="#deleteFileModal{{pobject.id}}">Delete</a>
        </li>
        <li ng-if="c.canDelete(pobject) && c.isPobjectDirectory(pobject)">
          <a data-toggle="modal" data-target="#deleteDirectoryModal{{pobject.id}}">Delete</a>
        </li>
        <li ng-if="c.canShare(pobject)" role="separator" class="divider"></li>
        <li ng-if="c.canShare(pobject)">
          <a data-toggle="modal" data-target="#shareModal{{pobject.id}}"
             ng-click="c.focusInput('#shareModal' + pobject.id)">
            Share
          </a>
        </li>
        <li ng-if="c.canPublish(pobject) && c.isPobjectFile(pobject)">
          <a data-toggle="modal" data-target="#publishFileModal{{pobject.id}}"
             ng-click="c.focusInput('#publishFileModal' + pobject.id)">
            Publish
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- New directory modal -->
  <div ng-if="c.isPobjectDirectory(pobject)" class="modal fade" id="newDirectoryModal{{pobject.id}}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            New directory
          </div>
          <div class="modal-body directory-name-input">
            <input type="text" class="form-control" ng-model="c.newPobjectTitle"/>
            <span class="error-block directory-name-error">Incorrect directory name.</span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="c.createDirectory(pobject)">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- New file modal -->
  <div ng-if="c.isPobjectDirectory(pobject)" class="modal fade" id="newFileModal{{pobject.id}}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            New file
          </div>
          <div class="modal-body">
            <div class="form-group input-group file-name-input">
              <input type="text" class="form-control" ng-model="c.newPobjectTitle"/>
              <div class="input-group-addon">.bpmn</div>
            </div>
            <span class="error-block file-name-error">Incorrect file name.</span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="c.createFile(pobject)">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Share modal -->
  <div class="modal fade" id="shareModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <p>Shared with:</p>
          <table class="table sharing" id="sharedTable{{id}}">
            <tbody>
              <tr ng-repeat="fp in pobject.permissions">
                <td>{{fp.user.email}}</td>
                <td style="text-align: right;">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle sharing" type="button"
                            id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                      {{fp.action.title}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a ng-click="fp.action.title = 'view'">view</a></li>
                      <li><a ng-click="fp.action.title = 'edit'">edit</a></li>
                    </ul>
                  </div>
                </td>
                <td style="text-align: right;">
                  <a class="icon-link" ng-click="pobject.permissions.splice($index, 1);">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <form>
            <div class="form-group input-group">
              <input type="email" class="form-control" ng-model="c.userEmail" placeholder="Enter e-mail address">
              <input type="hidden" ng-model="userRights" ng-init="userRights = 'view'" hidden>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" style="border-radius:0px"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{userRights}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a ng-click="userRights = 'view'">view</a></li>
                  <li><a ng-click="userRights = 'edit'">edit</a></li>
                </ul>
                <button type="submit" class="btn btn-default" ng-click="c.addRights(pobject, userRights)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
            <span id="not-existing-email" class="error-block">Email not found.</span>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="c.sharePobject(pobject, userRights)" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Rename directory modal -->
  <div class="modal fade" id="renameDirectoryModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            Rename directory
          </div>
          <div class="modal-body">
            <div class="form-group directory-name-input">
              <input type="text" class="form-control" ng-init="newTitle = pobject.title" ng-model="newTitle"/>
              <span class="error-block directory-name-error">Incorrect directory name.</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="c.renameDirectory(pobject, newTitle)">Rename</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </forM>
      </div>
    </div>
  </div>

  <!-- Rename file modal -->
  <div class="modal fade" id="renameFileModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            Rename file
          </div>
          <div class="modal-body">
            <div class="form-group input-group file-name-input">
              <input type="text" class="form-control" ng-init="newTitle = c.removeBpmn(pobject.title)" ng-model="newTitle"/>
              <div class="input-group-addon">.bpmn</div>
            </div>
            <span class="error-block file-name-error">Incorrect file name.</span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="c.renameFile(pobject, newTitle)">Rename</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Move modal -->
  <div class="modal fade move" id="moveModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" ng-init="c.initModal(pobject)">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          Move <b>{{pobject.title}}</b> to <b>{{c.selected === null ? '(select a directory)' : c.selected.title}}</b>
        </div>
        <div class="modal-body">
          <ul class="move-container">
            <li ng-include="'files/move.html'" ng-init="dest = c.getRoot()"></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="c.movePobject(pobject)">Move</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Public link modal -->
  <div class="modal fade" id="publishFileModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          Publish file by creating a public link
        </div>
        <div class="modal-body">
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class=" glyphicon glyphicon-link"></span>
            </span>
            <input type="text" class="form-control" placeholder="No public link (yet)" ng-model="pobject.publicUrl" readonly/>
            <div class="input-group-btn">
              <button ng-click="c.publishFile(pobject)" class="btn btn-success" ng-if="!pobject.published">
                Create public link
              </button>
              <button ng-click="c.unpublishFile(pobject)" class="btn btn-default" type="submit" ng-if="pobject.published">
                Remove public link
              </button>
            </div>
          </div>
          <span id="server-error" class="error-block">Server error, please try again later!</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete directory modal -->
  <div class="modal fade" id="deleteDirectoryModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Delete directory
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this directory and all it's contents?</p>
          <strong>{{pobject.title}}</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button  ng-click="c.deleteDirectory(pobject.id)" data-dismiss="modal" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete file modal -->
  <div class="modal fade" id="deleteFileModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Delete file
        </div>
        <div class="modal-body">
          Are you sure you want to delete this file: {{pobject.title}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button  ng-click="c.deleteFile(pobject.id)" data-dismiss="modal" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ul ng-if="c.isPobjectDirectory(pobject)" class="subgroup" ng-show="pobject.open">
  <li ng-repeat="pobject in pobject.pobjects" ng-include="'files/root.html'"></li>
</ul>
