<nav>
<div class="container" id="home-navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="brand" routerLink="/home">
          <img src="assets/img/logo.svg">
        </a>
        <p class="navbar-text">Privacy Leakage Analysis Tools</p>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authService.authStatus | async">
            <p class="navbar-text">Signed in as {{getUserEmail()}}</p>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/home">Home</a>
          </li>
          <li *ngIf="authService.authStatus | async" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/files">Files</a>
          </li>
          <li *ngIf="authService.authStatus | async">
           <a [routerLink]="" class="navbar-link" (click)="initChangePasswordModal()">Password</a>
          </li>
          <li *ngIf="authService.authStatus | async">
            <a [routerLink]="" class="navbar-link" (click)="initLogoutModal()">Log out</a>
          </li>
          <li *ngIf="!(authService.authStatus | async)">
            <a [routerLink]="" class="navbar-link" (click)="initLoginModal()">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>