<div class="container" ng-controller="FilesController as c">
  <div class="row topMargin">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-8">
              <h4>bpmn models</h4>
            </div>
            <div class="col-sm-4">
              <input ng-model="search" ng-init="search = ''" type="search" class="form-control pull-right" placeholder="Search files">
            </div>
          </div>
        </div>

        <div class="panel-body">
          <!-- Table -->
          <table class="table" id="filesTable">
            <thead>
              <tr>
                <th>#</th>
                <th>File name</th>
                <th>Last modified</th>
                <th><span class="pull-right">Actions</span></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="c.noFiles()">
                <td><h4>No available files...</h4></td>
              </tr>
              <tr ng-repeat="file in c.getFileNames()" ng-if="file.toLowerCase().indexOf(search.toLowerCase()) > -1">
                <td>{{$index+1}}</td>
                <td>{{file}}</td>
                <td>{{c.getFileModifiedDates()[$index]}}</td>
                <td>
                  <div class="btn-group pull-right">
                    <button ng-click="c.editFile(file)" class="btn btn-success" type="submit">
                      <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button class="btn btn-default" type="submit">
                      <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <button ng-click="" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-md">
            <span class="glyphicon glyphicon-plus"></span> New
          </button>
          <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="fileNameLabel">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="fileNameLabel">Create a new file</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group {{ c.isExistingFileName(fileName) ? 'has-error' : '' }}">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-init="fileName = 'Untitled'" ng-model="fileName"
                             aria-describedby="alreadyExists" placeholder="Please insert the file name (without extension)">
                      <div class="input-group-addon">.bpmn</div>
                    </div>
                    <span id="alreadyExists" ng-if="c.isExistingFileName(fileName)" class="help-block">
                      The file name already exists. Please insert a new file name.
                    </span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button ng-click="c.newFile(fileName+'.bpmn')" data-dismiss="modal" class="btn btn-success" ng-disabled="c.isExistingFileName(fileName)">
                    Create
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
