<div class="container" ng-controller="FilesController as c">
  <ul class="nav nav-tabs">
    <li role="presentation" class="{{c.tab === 'root' ? 'active' : ''}}" ng-click="c.tab = 'root'">
      <a>My models</a>
    </li>
    <li role="presentation" class="{{c.tab === 'shared' ? 'active' : ''}}" ng-click="c.tab = 'shared'">
      <a>Shared models</a>
    </li>
  </ul>
  <div class="row topMargin" ng-show="c.tab === 'root'">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-xs-8">
              <button class="btn btn-success" data-toggle="modal" data-target="#createFileModal{{c.getRoot().id}}">
                <span class="glyphicon glyphicon-file"></span> New model
              </button>
              <button class="btn btn-success" data-toggle="modal" data-target="#createDirectoryModal{{c.getRoot().id}}">
                <span class="glyphicon glyphicon-folder-open"></span> New directory
              </button>
            </div>
            <div class="col-xs-4">
              <input ng-model="c.search" type="search" class="form-control pull-right" placeholder="Search files">
            </div>
          </div>
          <!-- Table -->
          <div class="files-list" id="filesList">
            <ul>
              <li class="fhead">
                <div class="fluid">
                  <div class="col">
                    <b ng-mouseenter="showTitle = true" ng-mouseleave="showTitle = false">File Name
                      <span ng-click="c.sortPobjectsByTitleDesc()"
                            ng-show="c.sort !== 2"
                            class="glyphicon glyphicon-chevron-up clickable {{c.sort > 0 && c.sort < 3 || showTitle ? '' : 'invisible'}}"></span>
                      <span ng-click="c.sortPobjectsByTitleAsc()"
                            ng-show="c.sort === 2"
                            class="glyphicon glyphicon-chevron-down clickable"></span>
                    </b>
                  </div>
                  <div class="col hidden-xs hidden-sm">
                    <b ng-mouseenter="showLastModified = true" ng-mouseleave="showLastModified = false">Last Modified
                      <span ng-click="c.sortPobjectsByLastModifiedDesc()"
                            ng-show="c.sort !== 4"
                            class="glyphicon glyphicon-chevron-up clickable {{c.sort > 2 || showLastModified ? '' : 'invisible'}}"></span>
                      <span ng-click="c.sortPobjectsByLastModifiedAsc()"
                            ng-show="c.sort === 4"
                            class="glyphicon glyphicon-chevron-down clickable"></span>
                    </b>
                  </div>
                  <div class="col">
                    <b>Published</b>
                  </div>
                  <div class="col">
                  </div>
                </div>
              </li>
              <li class="fluid" ng-if="c.getRoot().pobjects.length === 0">
                <div class="no-files">No available files...</div>
              </li>
              <li class="fluid loading-container" ng-if="c.loading">
                <div class="spinner" id="loading">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </li>
              <li id="pobjects" class="ng-fade"
                  ng-if="!c.loading" ng-repeat="pobject in c.getRoot().pobjects"
                  ng-include="'files/root.html'"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row topMargin" ng-show="c.tab === 'shared'">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-xs-4 col-xs-offset-8">
              <input ng-model="c.search" type="search" class="form-control pull-right" placeholder="Search files">
            </div>
          </div>
          <div class="files-list" id="filesList">
            <ul>
              <li class="fhead">
                <div class="fluid">
                  <div class="col">
                    <b>File Name</b>
                  </div>
                  <div class="col hidden-xs hidden-sm">
                    <b>Last Modified</b>
                  </div>
                  <div class="col">
                    <b>Published</b>
                  </div>
                  <div class="col">
                  </div>
                </div>
              </li>
              <li class="fluid" ng-show="c.getShared().pobjects.length === 0">
                <div class="no-files">No available files...</div>
              </li>
              <li id="pobjects" ng-repeat="pobject in c.getShared().pobjects"
                  ng-include="'files/shared.html'"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- New directory modal -->
  <div class="modal fade" id="createDirectoryModal{{c.getRoot().id}}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          New directory
        </div>
        <div class="modal-body">
          <div class="form-group directory-name-input">
            <input type="text" class="form-control" ng-model="c.newPobjectTitle" focus/>
            <span class="error-block directory-name-error">Incorrect directory name.</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" ng-click="c.createDirectory(c.getRoot())">Create</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New file modal -->
  <div class="modal fade" id="createFileModal{{c.getRoot().id}}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          New model
        </div>
        <div class="modal-body">
          <div class="form-group input-group file-name-input">
            <input type="text" class="form-control" ng-model="c.newPobjectTitle" focus/>
            <div class="input-group-addon">.bpmn</div>
          </div>
          <span class="error-block file-name-error">Incorrect model name.</span>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" ng-click="c.createFile(c.getRoot())">Create</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
