<div class="fluid{{c.isPobjectDirectory(pobject) ? ' group' : ''}}{{c.isPobjectHighlighted(pobject) ? ' highlight' : ''}}"
     ng-show="c.isMatchingSearch(pobject)">
  <div class="col" ng-click="pobject.open = pobject.open ? false : true">
    <span ng-if="c.isPobjectDirectory(pobject)" class="title">
      <span ng-if="!pobject.open" class="glyphicon glyphicon-folder-close"></span>
      <span ng-if="pobject.open" class="glyphicon glyphicon-folder-open"></span>
      <span>{{pobject.title}}</span>
    </span>
    <span ng-if="c.isPobjectFile(pobject)" class="title">
      <a class="clickable" ng-click="c.openFile(pobject)">{{pobject.title}}</a>
    </span>
  </div>
  <div class="col hidden-xs hidden-sm" ng-click="pobject.open = pobject.open ? false : true">
    <span ng-if="c.isPobjectFile(pobject)">{{c.formatDate(pobject.lastModified)}}</span>
    <span ng-if="c.isPobjectFile(pobject)">{{pobject.modifiedBy.email}}</span>
  </div>
  <div class="col" ng-click="pobject.open = pobject.open ? false : true">
    <span ng-if="pobject.permissions.length > 0" class="glyphicon glyphicon-user"></span>
    <span ng-if="pobject.published" class="glyphicon glyphicon-globe"></span>
  </div>
  <div class="col" ng-if="c.isPobjectDirectory(pobject)" ng-click="pobject.open = pobject.open ? false : true">
  </div>
  <div class="col text-right" ng-if="c.isPobjectFile(pobject)">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-if="c.canEdit(pobject)">
          <a ng-click="c.openFile(pobject)">Edit</a>
        </li>
        <li ng-if="!c.canEdit(pobject) && c.canView(pobject)">
          <a ng-click="c.openFile(pobject)">View</a>
        </li>
        <li>
          <a ng-click="c.copyFile(pobject)">Copy</a>
        </li>
        <li>
        	<a data-toggle="modal" data-target="#removeSharedFileModal{{pobject.id}}">Remove</a>
        </li>
      </ul>
    </div>
  </div>
  
<!-- Remove shared file modal -->
  <div class="modal fade" id="removeSharedFileModal{{pobject.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Remove shared file
        </div>
        <div class="modal-body">
          Are you sure you want to remove this shared file: {{pobject.title}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button  ng-click="c.removeFileShare(pobject)" data-dismiss="modal" class="btn btn-success">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div> 
  
</div>
<ul ng-if="c.isPobjectDirectory(pobject)" class="subgroup" ng-show="pobject.open">
  <li ng-repeat="pobject in pobject.pobjects" ng-include="'files/shared.html'"></li>
</ul>
