#js-properties-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
  &:empty {
    display: none;
  }
  > .djs-properties-panel {
    padding-bottom: 70px;
    min-height:100%;
  }
}

.bpp-properties-header > .label {
  color: #333;
}

[class^="bpmn-icon-"]:before, [class*=" bpmn-icon-"]:before {
  margin-left: 0!important;
  margin-right: 0!important;
}

.djs-palette {
  margin-top: 80px;
}

.djs-overlay-comments {
  left: -10px!important;
  top: -10px!important;
}